* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.currency {
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    padding: 15px;
    border: 2px solid blue;
    margin-top: 15px;
}

/* .currency__code {
    padding-left: 10vw;
}

.currency__value {

    padding-left: 5vw; 
    text-align: right; 
    margin: auto;
    padding-left: 5;
}

.currency__previos_day_value {
    margin-left: auto;
} */

.search_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 15px;
    border: 1px solid blue;
    cursor: pointer;
}

.page__current {
    border: 3px solid rgb(230, 98, 197);
    font-weight: bold;
}