* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.currency {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    border: 2px solid blue;
    margin-top: 15px;
}


.currency:hover {
    background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

.currency__code {
    width: 8vw;
    text-align: center
}

.currency__value {
    width: 8vw;
    text-align: center
}

.currency__previos_day_value {
    width: 8vw;
    text-align: center
}

.changed {
    width: 5vw;
    text-align: center
}

.search_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 15px;
    border: 1px solid blue;
    cursor: pointer;
}

.page__current {
    border: 3px solid rgb(230, 98, 197);
    font-weight: bold;
}